<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | 
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Hyperspace by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

	<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li> <a class="nav-link text-white" asp-controller="Spaceships" asp-action="Index">Spaceship</a></li>
					<li><a class="nav-link text-white" asp-controller="RealEstate" asp-action="Index">Real Estates</a></li>
					<li><a class="nav-link text-white" asp-controller="KinderGarten" asp-action="Index">Kinder Gardens</a></li>
					<li><a class="nav-link text-white" asp-controller="OpenWeathers" asp-action="Index">Open Weathers</a></li>
					<li><a class="nav-link text-white" asp-controller="AccuWeather" asp-action="Index">Accu Weathers</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h1>Tere Tulemast!</h1>
				<p>
					This website is made by Rainon Kaska TARgv22<br />
					on Programmes classes.
				</p>
				
			</div>
		</section>


		<!-- Three -->
		<section id="three" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Get in touch</h2>
				<p>Siit saate leida minu meediat ja anda tagasisidet.</p>
				<div class="split style1">
					<section>
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><a href="" class="button submit">Send Message</a></li>
							</ul>
						</form>
					</section>
					<section>
						<ul class="contact">
							<li>
								<h3>Address</h3>
								<span>
									Sõpruse pst 182, 13424 Tallinn<br />
									Eesti
								</span>
							</li>
							<li>
								<h3>Email</h3>
								<a href="#">rainonkaskazxc@gmail.com</a>
							</li>
							<li>
								<h3>Phone</h3>
								<span>+372 5306 5042</span>
							</li>
							<li>
								<h3>Social</h3>
								<ul class="icons">
									<li><a href="https://github.com/RainonC" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.instagram.com/rainon666/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									
								</ul>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Rainon Kaska. All rights reserved.</li>		
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
C:\Users\raino\source\repos\ShopTARgv22Rainon\Shop\Shop\wwwroot\js\jquery.min.js